@using GirlsHandmadeShop.Common
@using GirlsHandmadeShop.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
	<li class="nav-item">
		<a class="dropdown-show" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)!</a>
	</li>
	if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
		</li>
	}
	<li class="nav-item">
		<form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
			<button type="submit" class="dropdown-show">Logout</button>
		</form>
	</li>
}
else
{
	<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
	<li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
}
